@{
    ViewData["Title"] = "Home Page";

    void onClick(Object sender,
                           EventArgs e)
    {
        //set color
        Console.WriteLine("OPA");
        <h1>hello</h1>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="onClick">OPA</button>
</div>
